/* ==========================================================================
   Footer
   ========================================================================== */

footer{
    .font-size(14);
    background-color: @color-corp;
    color: white;

    #footer {
        &:extend(.wrapper-l);
        padding-top: 3em;
        @media (min-width: @screen-m) {
            display: flex;
            >div {
                &:not(:last-child) {
                    margin-right: 4em;
                }
            }
        }
    }

    a {
        color: @color-secondary;
        text-decoration: none;
        &:hover {
            color: white;
        }
    }

    h4 {
        text-transform: uppercase;
        font-weight: @fw-medium;
        .font-size(16);
        letter-spacing: .05em;
        & + p {
            margin-top: 0;
        }
    }
    p {
        .font-size(13);
    }
    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        li {
            &:not(:last-child) {
                margin-bottom: .25em;
            }
        }
    }
    .footer-copyright {
        &:extend(.wrapper-l);
        .font-size(13);
        margin-top: 0;
        padding-bottom: 14rem;
        // &::before {
        //     content: "";
        //     width: 120px;
        //     height: 80px;
        //     display: block;
        //     background-image: url('/img/img-logo.svg');
        //     background-size:100%;
        //     background-repeat: no-repeat;
        // }
    }
}