/* ==========================================================================
   Common
   ========================================================================== */

/**
 * Common styles to use in Scms-site
 */

html {
    box-sizing: border-box;
    .font-size(16);

    // hack to hide overflow scroll
    overflow-x: hidden;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}

html {
    font-family: 'Roboto', sans-serif;
    color: @color-main;
}

html, body {
    text-align: left;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Oswald', sans-serif;
}

h4, h5, h6 {
    font-weight: @fw-regular;
}

/* location modal */

.modal-content {
    .close {
        .font-size(16);
        position: relative;
        top: 0.45em;
        margin-right: .75em;
        text-transform: uppercase;
        &::before {
//             content: "X";
            margin-right: .5em;
        }
        span {
        }
    }
}

.modal-header {
    h4 {
        font-weight: 300;
    }
}

.modal-lang {
    border-right: 1px solid #d5d5d5;

    .language_menu {
        >a {
            .btn;
            .btn-default;
            text-transform: uppercase;
        }
    }

}

#languageModal{
    h4 {
        font-weight: 300;
        color: @color-corp;
        }
    ul, li {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    .modal-body {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        >div {
            //width: 48%;
            }
    }
}

.modal-location {
    img {
        max-width: 16px !important;
        }
    .alert {
        .font-size(14);
        }
    >li {
        margin-bottom: 1em !important;
        }
    }



/* move this to another .less file */
.recipes {
    padding-top: 3em;
    padding-bottom: 3em;
    h1 {
        margin-bottom: 1em;
        color: @color-corp;
        display: none;
        }
    }

.recipe-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-column-gap: 2em;
    grid-row-gap: 3em;
}

.recipe-element {
    a {
        display: block;
        color: @color-corp;
        border: 1px solid @color-main-light;
        padding: 1em;
        &:hover {
            text-decoration: none;
            background-color: @color-main-xtralight;
        }
    }
    img {
        width: 100%;
        height: auto;
        margin-bottom: 1em;
    }
    h3 {
        text-transform: uppercase;
        font-weight: 400;
        .font-size(20);
        margin: 0;
    }
    p {
        color: @color-main-medium;
        margin-top: .25em;
    }
}


.shop-detail-content .wrapper,
.recipes-detail-content >div {
   //&:extend(.wrapper);
   padding-top: 2em;

    @media (min-width: @screen-m) {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }
}
.shop-detail-content-media,
.recipes-detail-content-media {
    position: relative;
    width: 100%;
    padding-bottom: 2em;
    @media (min-width: @screen-m) {
        width: 40%;
    }
}

.shop-detail-content-info,
.recipes-detail-content-info {
    width: 100%;
    @media (min-width: @screen-m) {
        width: 55%;
    }
    padding-bottom: 2em;
    h1,
    h2 {
        text-transform: uppercase;
        font-weight: 300;
        }
    h2, h3 {
        margin: 0 0 .5em 0;
        font-weight: 300;
        color: @color-corp;
        }
    h3 {
        color: @color-secondary;
        .font-size(18);
        }
}

.recipes-detail-related {
    margin-top: 3rem;
    border-top: 1px solid @color-main-light;

    img {
        margin: 0;
    }
    a h4 {
        font-weight: 300;
        .font-size(16);
        color: @color-secondary;

        }
}
.shop-detail-related,
.recipes-detail-related {

    &:extend(.wrapper);
    background-color: @color-main-light;
    padding-top: 2em;
    padding-bottom: 2em;
    a {
        &:hover {
            text-decoration: none;
        }
    }
}

.shop-detail-related-list,
.recipes-detail-related-list{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-column-gap: 2em;
    grid-row-gap: 3em;
}
.shop-detail-related-item,
.recipes-detail-related-item {
    img {
        width: 100%;
        }
    &:hover {
        text-decoration: none;
        color: @color-corp;
        img {
            opacity: .7;
            }
        }
    }

.shop-detail-related-item {
    h4 {
        color: @color-corp;
        .font-size(22);
        font-weight: 300;
    }
}
.recipes-detail-description {
    h4 {
        color: @color-corp;
        .font-size(22);
        font-weight: 300;
    }
    margin-top: 3rem;
    border-top: 1px solid @color-main-light;
    p, ul {
        .font-size(18);
        color: @color-main-medium;
        max-width: 600px;
        margin:0;

        }
    ul {
        padding-left: 1em;
        }
    }



/* product list */

.shop-list {
    /* hack to delte the top line on pruduct list*/
    .oe_product {
        border: none !important;
        }
   .sgeede-infinite-scroll {
      @media (min-width: @screen-m) {
          width: 70%;
      }
    }
    @media (min-width: @screen-m) {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
    }

    .sgeede-infinite-get {
       display: grid;
       grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
       grid-column-gap: 2em;
       grid-row-gap: 3em;
    }
}
.shop-categories {
    margin-bottom: 2em;
    @media (min-width: @screen-m) {
        width: 20%;
        margin-right: 10%;
    }

    .nav {
        position: sticky;
        top:2em;
        }
    .nav-pills {
            ul {
                li{
                width: 100%;

                   a {
                       width: 100% !important;
                   }
                   margin-bottom: .5em;
                   border-bottom: 1px solid @color-main-light;
                }
            }

            i {
                color: @color-corp;
                & + a {
                    width: ~"calc(100% - 20px)" !important;
                    }
            }
            a {
                width: 100% !important;
                color: @color-corp;
                margin-bottom: .5em;
                &:hover {
                    color:@color-secondary;
                }
            }
            .active {


            i {
                & + a {
                    width: ~"calc(100% - 20px)" !important;
                    }
                }
            }

        .active > a{
            background-color: @color-corp;
            color :white;
            padding: .5em;
            &:hover {
                color: white;
                background-color: @color-secondary;}
            i {
                color: white;
                }
         }
    }
}
.shop-element {
    margin-bottom: 2em;
    h5 {
        font-weight: 400;
        text-transform: uppercase;
        a {
            color: @color-corp;
            }
        }
    img {
        width: 100%;}
    }


/* reset styles*/
.carousel-outer {
position: relative;
}
#o-carousel-product .carousel-indicators {
    text-align: left;
    }

#o-carousel-product .carousel-inner div.item {
    height: auto;
    }
//.carousel .slide .recipe-carousel { }
.carousel {
    position: sticky;
    top: 2em;
}
